body {
    padding: 0px;
    margin: 0px;
    background-image: url('https://i.pinimg.com/originals/6a/1a/b8/6a1ab8b8cda39fe267375c3a0c356ed6.jpg');
    background-size: cover;     /* Cobrir toda a área do elemento */
    background-position: center;    /* Centralizar a imagem no elemento */
    background-repeat: no-repeat;   /* Evitar repetição da imagem */
    font-family: 'Cinzel', serif;
}

.capa {
    display: grid;
    grid-template-rows: 25% 50% 25%;
    width: 100vw;
    height: 100vh;
}

.cima {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.cima>img {
    width: 7%;
    height: 60%;
    margin-right: 22px;
    margin-bottom: 20px;

}

.nome {
    color: black;
    font-size: 1.5vw;
    margin: 0px;
    margin-bottom: 10px;
}

.dado{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 20%;
    border: 5px solid black;
    margin-top: 50px;
}

.meio {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    border: 1px solid;
}

.area-bot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.tabuleiro-bot {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 50%;    
    width: 35%;
    gap: 5px;
}

.tabuleiro-bot>div {
    border: 5px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pontuacao-bot{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 12%;    
    width: 35%;
    gap: 5px;
}

.pontuacao-bot>div {
    background-color: rgb(85, 158, 255);
    border: 5px solid;
}


.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid;
}

.botao:hover {
    background-color: rgb(255, 230, 0);
    cursor: pointer;
}

.img-seta-baixo {
    height: 50%;
    width: 25%;
}

#dado img{
    width: 70%;
    height: auto;
}

#player img{
    width: 70%;
    height: auto;
}

#bot img{
    width: 70%;
    height: auto;
}

.espaco-dado{
    display: flex;
    justify-content: center;
    align-items: center;
}

#pontuacaoBot {
    font-size: 20px;
    font-weight: bolder;
}

#pontuacaoPlayer {
    font-size: 20px;
    font-weight: bolder;
}

.espaco-pontuacao {
    display: flex;
    justify-content: center;
    align-items: center;
}

.area-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.setas-player {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 10%;
    width: 35%;
    gap: 5px;
}

.setas-player>button {
    border: 5px solid;
}

.tabuleiro-player {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 50%;    
    width: 35%;
    gap: 5px;
    margin-bottom: 40px;
}

.tabuleiro-player>div {
    border: 5px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pontuacao-player{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 12%;    
    width: 35%;
    gap: 5px;
}

.pontuacao-player>div {
    background-color: rgb(255, 230, 0);
    border: 5px solid;
}

.area-resultado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resultado {
    margin: 0px;
    font-size: 70px;
    text-align: center;
    font-weight: bolder;
}

.baixo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.baixo>img {
    width: 7%;
    height: 60%;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    transform: scaleX(-1);
}

.nome2 {
    color: black;
    font-size: 1.5vw;
    margin: 0px;
}